<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>96216052978-fa6qeqeqa1mshtae5jcfgjhergvpajsc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.96216052978-fa6qeqeqa1mshtae5jcfgjhergvpajsc</string>
	<key>API_KEY</key>
	<string>AIzaSyASQX_2A3YW_1oQW8HhcsI9KoU5oaa3h-o</string>
	<key>GCM_SENDER_ID</key>
	<string>96216052978</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>UMC.LoginSample</string>
	<key>PROJECT_ID</key>
	<string>loginsample-6037e</string>
	<key>STORAGE_BUCKET</key>
	<string>loginsample-6037e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:96216052978:ios:4cff9873c43eee56558c6b</string>
</dict>
</plist>