<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>109214514051-6voio4t72jslhcjck0iaqurmd0tjt2v8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.109214514051-6voio4t72jslhcjck0iaqurmd0tjt2v8</string>
	<key>API_KEY</key>
	<string>AIzaSyDCjl5BIcabc5LXfliRDPutvKA3QB62ff8</string>
	<key>GCM_SENDER_ID</key>
	<string>109214514051</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gdsc.tuk.week9-mission</string>
	<key>PROJECT_ID</key>
	<string>socialloginproject-22dd2</string>
	<key>STORAGE_BUCKET</key>
	<string>socialloginproject-22dd2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:109214514051:ios:2dfab7b1cee550bebb14b6</string>
</dict>
</plist>